modules = ["nodejs-24", "postgresql-16"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
STRIPE_SECRET_KEY = "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"
STRIPE_PUBLISHABLE_KEY = "pk_live_51QJr5mLFyFYtjNUWAn03EJkxwbZhurjc1G9gcC5c4FaAjuSMK1Zyxr8oUZ5U8BaLGxVVQtCNcniORQEGkoHTAEZT00tPrtpvnb"
STRIPE_WEBHOOK_SECRET = "whsec_RDN53mLhlRDfZy7LHmi3NndIebBFy8s0"
